body{
    background-image: url('https://github.com/Ratchanee12/OX-Kingdom/raw/63070149/public/Picture/area.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #f4a25f;
}
#returnPage{
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}
.bi-arrow-left-circle, h1{
    color: #F2AA6D;
    font-weight: 600;
}
#lobby {
    display: block;
    width: 400px;
    height: 60px;
    border: 4px solid #F3AF77;
    background-color: rgba(130, 24, 28, 0.7);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: px;
    color: #f4a25f;
    margin-top: 2%;
    margin-left: 33%;
}
#line{
    margin-top: 20px;
    background-color:#f4a25f;
    height: 2px;
    width: 500px;
}