body{
    background-image: url('https://github.com/Ratchanee12/OX-Kingdom/raw/63070149/public/Picture/SelectHero.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
}
#returnPage{
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}
.bi-arrow-left-circle, h1{
    color: #F2AA6D;
    font-weight: 600;
}
#Username-PlayerO, #Username-PlayerX{
    color: #F2AA6D;
}
#character-button{
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 150px;
    height: 60px;

    /* Panel BG */

    background: rgba(75, 0, 0, 0.7);
    border: 3px solid #F3AF77;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: #F3AF77;
    z-index: 1;
}
#countdownChar{
    color: #F3AF77;
    text-align: center;
}
#currentRoomState{
    color: #F3AF77;
}
#roomName{
    color: #F3AF77;
}
.count{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 350px;
}